<div role="status" class="flex flex-row w-full gap-5 animate-pulse">
  <span class="w-full flex flex-col gap-2 align-middle">
    <span class="flex flex-row min-w-0 gap-x-4 px-2 py-2 hover:bg-gray-400/20">
      <span class="self-center h-12 w-12 flex rounded-full justify-center items-center bg-gray-200 dark:bg-gray-300">
        <svg class="w-5 h-5 text-gray-200 dark:text-gray-350" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
          <path d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"/>
        </svg>
      </span>
      <span class="w-full grid grid-cols-4 align-middle">
        <span class="self-center h-4 w-48 bg-gray-200 rounded-full"></span>
        <tt-loading-rating class="self-center" />
        <span class="self-center flex gap-2">
          <span class="flex h-4 w-4 bg-gray-200 rounded-full"></span>
          <span class="flex h-4 w-24 bg-gray-200 rounded-full"></span>
        </span>
        <span class="self-center flex gap-2">
          <span class="flex h-4 w-24 bg-gray-200 rounded-full"></span>
          <span class="flex h-4 w-32 bg-gray-200 rounded-full"></span>
        </span>
      </span>
    </span>
    <span class="ml-16 px-2 sm:flex sm:flex-row gap-3 sm:items-end">
      <span class="h-6 w-16 bg-gray-200 rounded-full"></span>
      <span class="h-6 w-14 bg-gray-200 rounded-full"></span>
      <span class="h-6 w-24 bg-gray-200 rounded-full"></span>
    </span>
  </span>
</div>
