<div class="w-full h-fit p-5 flex flex-col gap-10">
  <h1 class="sr-only">Dashboard</h1>

  <div>
    <h2 class="mb-3 text-xl font-semibold">Recipe Spotlight</h2>
    <tt-card>
      <tt-recipe-preview
        #recipeSpotlightComponent
        ttRecipeList
        ttRecipeSpotlight
        #recipeSpotlightDir="ttRecipeSpotlightDir"
        [recipesLink]="recipeListLink"
        (recipeListLoading)="recipeSpotlightComponent.loading = $event"
        (recipeListError)="recipeSpotlightComponent.error = $event"
        (recipeList)="recipeSpotlightDir.recipes = $event"
        (recipeSpotlight)="recipeSpotlightComponent.recipe = ($event ?? undefined)"
      ></tt-recipe-preview>
    </tt-card>
  </div>

  <div >
    <h2 class="mb-3 text-xl font-semibold">Recently Added Recipes</h2>
    <tt-card>
      <tt-recipe-list
        #recipesList
        ttRecipeList
        [ghostLoadingRowCount]="5"
        [recipesLink]="recipeListLink"
        (recipeList)="recipesList.recipes = $event"
        (recipeListLoading)="recipesList.loading = $event"
        (recipeListError)="recipesList.error = $event"
      ></tt-recipe-list>
    </tt-card>
  </div>
</div>
