<div class="w-full h-fit p-5 flex flex-col gap-10">
  <h1 class="sr-only">Dashboard</h1>

  <div>
    <h2 class="mb-3 text-xl font-semibold">Recipe Spotlight</h2>
    <tt-card>
      <tt-recipe-preview
        [loading]="(recipeListLoading$ | async) ?? true"
        [recipe]="(recipeSpotlight$ | async) ?? placeholderRecipe"
      ></tt-recipe-preview>
    </tt-card>
  </div>

  <div >
    <h2 class="mb-3 text-xl font-semibold">Recently Added Recipes</h2>
    <tt-card>
      <tt-recipe-list
        [recipes]="(recipeList$ | async) ?? []"
        [loading]="(recipeListLoading$ | async) ?? true"
        [error]="recipeListError$ | async"
        [ghostLoadingRowCount]="5"
      ></tt-recipe-list>
    </tt-card>
  </div>
</div>
