<div class="w-full h-fit p-5 flex flex-col gap-10">
  <h1 class="sr-only">Dashboard</h1>

  <div>
    <h2 class="mb-3 text-xl font-semibold">Recipe Spotlight</h2>
    <tt-card>
      <tt-recipe-preview
        #recipeSpotlight
        ttRecipeSpotlight
        (recipeSpotlight)="recipeSpotlight.recipe = $event"
        (recipesLoading)="recipeSpotlight.loading = $event"
        (recipesError)="recipeSpotlight.error = $event"
      ></tt-recipe-preview>
    </tt-card>
  </div>

  <div >
    <h2 class="mb-3 text-xl font-semibold">Recently Added Recipes</h2>
    <tt-card>
      <tt-recipe-list
        #recipesList
        ttRecentRecipes
        [ghostLoadingRowCount]="5"
        (recipesList)="recipesList.recipes = $event"
        (recipesListLoading)="recipesList.loading = $event"
        (recipesListError)="recipesList.error = $event"
      ></tt-recipe-list>
    </tt-card>
  </div>
</div>
