recipe list item
<a routerLink="/view">
  <div class="flex min-w-0 gap-x-4">
    <img class="h-12 w-12 flex-none rounded-full bg-gray-50" alt="recipe thumbnail">
    <div class="min-w-0 flex-auto">
      <p class="text-sm font-semibold leading-6 text-gray-900">name</p>
      <span>rating</span>
      <span>
        icon
        duration
      </span>
      <span>difficulty</span>
    </div>
  </div>
  <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
    <p class="text-sm leading-6 text-gray-900">Co-Founder / CEO</p>
    <p class="mt-1 text-xs leading-5 text-gray-500">Last seen <time datetime="2023-01-23T13:23Z">3h ago</time></p>
  </div>
</a>
