<span class="w-full h-fit flex flex-col p-5 gap-2">
  @if (loading || error) {
    <div role="status" class="flex flex-col gap-1 animate-pulse">
      <span class="w-full flex align-middle justify-between">
        <span class="h-5 w-52 rounded bg-gray-200"></span>
        <span class="h-5 w-16 bg-gray-200"></span>
      </span>
      <span class="h-20 w-full rounded bg-gray-200"></span>
      <span class="self-end h-9 w-14 mt-1 rounded bg-gray-200"></span>
    </div>
  } @else if ((comments?.length || 0) > 0) {
    <tt-new-comment [user]="user" (comment)="onComment($event)"></tt-new-comment>
    <ul role="list" class="space-y-3 text-gray-600">
      @for (comment of comments; track $index) {
        <hr />
        <li class="flex gap-3 items-center">
          <tt-comment [comment]="comment"></tt-comment>
        </li>
      }
    </ul>
  } @else {
    <tt-new-comment [user]="user" (comment)="onComment($event)"></tt-new-comment>
  }
</span>
